*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:whitesmoke;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    float:bottom;
    place-content: center;
    
}
.container h1{
    margin-right: 50px;
    font-weight: 500;
    font-size: 25px;
    color: #444;
}
.container p{

    position:absolute;
    transform: translateX(-280px);
    margin-bottom: 50px;
    font-size: 20px;
    color:#000000;

}

.container-h1{
    border-bottom: 2px solid green;
    position: relative;
    padding: 5px;
    border-radius:8px;
    padding-right: 100vh;
    background-color: green;
    display: flex;
    flex-direction: column;
}

.content .container-h1:nth-child(2){

    border-bottom: 2px solid red;
    position: relative;
    padding: 5px;
    border-radius:8px;
    padding-right: 100vh;
    background-color:red;
    display: flex;
    flex-direction: column;

}

.container-h1::before{
    content: "";
    position:absolute;
    border-left: 2px solid green;
    border-radius: 8px;
    padding-left: 50vh;
    background-color: #fff;

}